@charset "utf-8";

@import url("ui-color.css");

* {
	margin: 0;
	padding: 0
}

.classifyhove {
	color: #3355a3;
	border: 1px #3355a3 solid;
	background: #fff;
	padding: 6px 13px
}

body {
	font-size: 14px;
	font-family: 微软雅黑;
	font-style: normal;
	width: 100%;
	height: 100%
}

a {
	text-decoration: none
}

a,a:hover {
	transition: background .5s linear;
	-webkit-transition: background .5s linear;
	-moz-transition: background .5s linear;
	-o-transition: background .5s linear
}

em,i {
	font-style: normal
}

ul,ol,li {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

input,select,textarea {
	outline: 0;
	border: 0;
	background: 0
}

input::-ms-clear {
	display: none
}

textarea {
	resize: none
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear {
	clear: both;
	height: 0;
	width: 100%;
	overflow: hidden
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}

.position {
	position: relative
}

.curpointer {
	cursor: pointer
}

ol,ul {
	margin: 0;
	padding: 0
}

.t-i-0 {
	text-indent: 0
}

dl {
	margin: 0
}

html,body {
	height: 100%
}

div {
	outline: 0!important;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: relative
}

body {
	/*font-size: 16px;*/
	font-size: 14px;
	background-color: #f3f7fd
}

h1,h2,h3,h4,h5,h6,input {
	font-family: '微软雅黑','microsoft yahei',ubuntu,helvetica,arial
}

.body-color {
	background-color: #f3f6fd
}

.h500 {
	height: 500px
}

.h125 {
	height: 125px
}

.h100 {
	height: 100%
}

.h99 {
	height: 99px
}

.h60 {
	height: 60px
}

.h-50 {
	height: 50px
}

.h49 {
	height: 49px
}

.f-z18 {
	font-size: 18px
}

.f-z16 {
	font-size: 16px
}
.f-z15 {
	font-size: 15px
}

.f-z14 {
	font-size: 14px
}

.f-z13 {
	font-size: 13px
}

.f-z12 {
	font-size: 12px
}

.f-z20 {
	font-size: 20px
}

.f-z22 {
	font-size: 22px
}

.f-z24 {
	font-size: 24px
}

.t-a-c {
	text-align: center
}

.t-a-r {
	text-align: right
}

.m-w-1200 {
	min-width: 1200px
}

.m-w-1400 {
	min-width: 1920px;
}
.m-w-100 {
	width: 100%;
}
.m-w-1640 {
	min-width: 1640px;
}

.p-t-10 {
	padding-top: 10px
}

.p-t-15 {
	padding-top: 15px
}

.p-t-20 {
	padding-top: 20px
}

.p-t-25 {
	padding-top: 25px
}

.p-t-32 {
	padding-top: 32px
}

.p-t-35 {
	padding-top: 35px
}

.p-t-40 {
	padding-top: 40px
}

.p-t-42 {
	padding-top: 42px
}

.p-t-0 {
	padding-top: 0
}

.p-b-0 {
	padding-bottom: 0
}

.p-b-15 {
	padding-bottom: 15px
}

.p-b-20 {
	padding-bottom: 20px
}

.p-b-30 {
	padding-bottom: 30px
}

.p-b-32 {
	padding-bottom: 32px
}

.p-b-35 {
	padding-bottom: 35px
}

.p-b-40 {
	padding-bottom: 40px
}

.p-l-0 {
	padding-left: 0
}

.p-l-6 {
	padding-left: 6px
}

.p-l-10 {
	padding-left: 10px
}

.p-l-12 {
	padding-left: 12px
}

.p-l-16 {
	padding-left: 16px
}

.p-l-20 {
	padding-left: 20px
}

.p-l-30 {
	padding-left: 30px
}

.p-l-35 {
	padding-left: 35px
}

.p-l-50 {
	padding-left: 50px
}

.p-r-0 {
	padding-right: 0
}

.p-r-6 {
	padding-right: 6px
}

.p-r-10 {
	padding-right: 10px
}

.p-r-12 {
	padding-right: 12px
}

.p-r-15 {
	padding-right: 15px
}

.p-r-16 {
	padding-right: 6px
}

.p-r-20 {
	padding-right: 20px
}

.p-r-30 {
	padding-right: 30px
}

.p-r-50 {
	padding-right: 50px
}

.m-t-20 {
	margin-top: 20px
}

.m-t-30 {
	margin-top: 30px
}

.m-t-0 {
	margin-top: 0
}

.m-b-0 {
	margin-bottom: 0
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-t-24 {
	margin-top: 24px
}

.m-t-48 {
	margin-top: 48px
}

.m-l-0 {
	margin-left: 0
}

.m-l-1 {
	margin-left: 1px
}

.m-l-20 {
	margin-left: 20px
}
.m-l-120 {
	margin-left: 120px
}

.m-l-30 {
	margin-left: 30px
}

.m-r-0 {
	margin-right: 0
}

.m-r-10 {
	margin-right: 10px
}
.m-r-40 {
	margin-right: 40px
}
.m-tb-30{
	margin: 30px 0px;
}

.b-border-de2 {
	border: 2px solid #dedede
}

.b-b-de1 {
	border-bottom: 1px solid #dedede
}

.fr {
	float: right
}

.footer {
	width: calc(100% - 220px);
	padding: 35px 0 30px;
	text-align: center;
	font-size: 12px;
	color: #666
}

.footer span:nth-of-type(2) {
	display: inline-block;
	width: 14px;
	height: 14px
}

.goback {
	width: 64px;
	height: 64px;
	background: url(../images/analysis/goback.png) no-repeat;
	position: fixed;
	bottom: 0;
	right: 20px;
	cursor: pointer
}

.mystrategy-buttonView {
	width: calc(100% - 251px - 40px);
	height: 100px;
	position: fixed;
	bottom: 80px;
	left: 251px;
	padding-bottom: 30px;
	padding-top: 40px;
	background-color: rgba(255,255,255,0.5)
}

.bottomView {
	padding: 5px 15px;
	width: 300px;
	height: 40px;
	margin-left: calc((100% - 300px)/2.0)
}

.buttonClass {
	padding: 5px 15px;
	background-color: #3355a3;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	margin: 0 15px;
	text-align: center;
	max-width: 60px
}

.overflow-hide {
	overflow: hidden
}

.content {
	padding: 25px 30px 0 30px
}

.line-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: nowrap;
	word-break: break-all;
	display: list-item
}

.line-ellipsis-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	white-space: nowrap;
	word-break: break-all;
	display: block;
	-o-text-overflow: ellipsis
}
.line-ellipsis-3 {
    /*display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;*/
	/*white-space: nowrap; 
text-overflow: ellipsis; 
overflow: hidden; */

}

.loginBtn {
	width: 120px;
	height: 36px;
	background: url(../images/home_lijidenglu_btn.png) no-repeat;
	color: #fff;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	float: right
}

.wUl li.activeW {
	color: #054b86;
	border-bottom: 1px solid #054b86
}

.welcometop {
	height: 6%
}

.welcomenav {
	height: 14%
}

.welcomefooter {
	height: 13%
}

.wLogo {
	width: 212px;
	height: 62px;
	background: url(../images/home_logo.png) no-repeat;
	margin-top: 18px;
	float: left
}

.loginIma {
	width: 105px;
	height: 65px;
	background: url(../images/img-sprite.png) -0px -543px no-repeat;
}

#banner {
	width: 100%;
	height: 550px;
	background-size: auto 100%;
	/*width: 1920px;*/
	height: 817px;
	background-color: #214a9f;
	padding-top: 115px;
	margin: 0 auto
}

.welcometext {
	position: absolute;
	top: 0;
	right: 0
}

.p-t6 {
	padding-top: 6%
}

.p-t10 {
	padding-top: 10%
}

.wNav {
	width: 70%;
	height: 100%;
	margin: 0 auto
}

#h68 {
	height: 68px;
	background-color: #3355a3;
	color: #fff;
	/*min-width: 1400px*/
	width: 100%;
}

.w220 {
	width: 220px
}

.w-120 {
	width: 120px
}

.w-200 {
	width: 200px
}

.w-300 {
	width: 300px
}

.navIma {
	width: 95px;
	height: 59px;
	display: inline-block;
	background: url(../images/logo.png) no-repeat;
	margin-top: 5px
}

.tabLogin {
	background-color: #26458c;
	height: 100%;
	text-align: center;
	position: fixed;
	z-index: 99
}

.nav {
	width: calc(100% - 220px);
	height: 68px;
	position: fixed;
	background: #3355a3;
	margin-left: 220px;
	overflow: hidden;
	z-index: 99
}

.navOne li,.navTwo li {
	float: left;
	cursor: pointer
}

.navOne li {
	padding: 24px 17px;
	height: 68px;
	position: relative
}

.navOne li:hover {
	background: #26458c;
}


.navOne li .shandong {
	width: 20px;
	height: 20px;
	background: #fff;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px
}

.tab_check {
	background-color: #1a3b88;
	
}

.tabtwo_check {
	background-color: #25468b;
	padding: 2px 5px;
	border-radius: 40px
}

.navOne {
	padding-left: 26px
}

.nav ul {
	margin-bottom: 0
}

.navTwo {
	margin-right: 70px;
	margin-top: 24px
}

.navTwo li {
	margin-left: 22px;
	padding: 2px 5px;
	font-size: 12px
}

.navTwo li span {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: middle
}

.navTwo li:nth-of-type(1) span {
	background: url(../images/com_ziliaoxiazai_icon.png) no-repeat
}

.navTwo li:nth-of-type(2) span {
	background: url(../images/com_shiyongshuoming_icon.png) no-repeat
}

.navTwo li:nth-of-type(3) span {
	background: url(../images/com_zhanghushezhi_icon.png) no-repeat
}

.navTwo li:nth-of-type(4) span {
	background: url(../images/com_yonghutuichu_icon.png) no-repeat
}

.h-nav-b {
	position: absolute;
	bottom: 0;
	width: 220px;
	height: 150px;
	background: #2c3742;
	color: #b3b7c0
}

.h-nav-b-p {
	padding-top: 34px;
	padding-bottom: 8px
}

.state {
	color: #426ed3
}

.contentleft {
	background: #313c48;
	height: calc(100% - 68px);
	position: fixed;
	z-index: 99
}

@media screen and (max-width:1366px) and (min-width:1024px) {
	.contentleft ul.yijiul.active {
		padding-top: 55px;
		color: #fff;
		cursor: pointer;
		max-height: 300px;
		overflow-y: auto
	}
}

.contentleft ul.yijiul {
	padding-top: 55px;
	color: #fff;
	cursor: pointer
}

.contentleft ul.yijiul li {
	height: 50px;
	line-height: 50px;
	padding-left: 36px
}

.contentleft ul.yijiul li.active {
	background: #29323f;
	border-right: 5px #3355a3 solid
}

.contentleft ul.erjiul li.activeli {
	color: #426ed3
}

.contentleft ul.erjiul li {
	font-size: 14px;
	color: #fff;
	border-bottom: 1px #29323f solid;
	padding-left: 76px;
	color: #fff;
	background-color: #3a4857
}

.contentright {
	width: calc(100% - 280px);
	margin: 20px 30px
}

.contentrightTwo {
	width: calc(100% - 280px);
	margin: 0
}

.cancel {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1400
}

.cancel-box {
	width: 500px;
	height: 500px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -241px;
	box-shadow: 1px 1px 8px 1px #dedede;
	top: 50%
}
.cancel-box-add{
	width: 100%;
    z-index: 1000;
    background: #fff;
    position: fixed;
    margin-left: -250px;
    box-shadow: 1px 1px 8px 1px #dedede;
    top: 0px;
}


.cancel-box-zoomEchar {
	width: 1638px;
	height: 989px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -774px;
	box-shadow: 1px 1px 8px 1px #dedede;
	top: 33%
}

.toLarger {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-left: 0;
	margin-top: 0
}

.cancel-box div {
	text-align: center
}

.tip {
	height: 15px;
	padding: 15px;
	color: #fff;
	font-size: 16px;
	position: relative;
	background: #e7ecf2
}

.tip .closebtn {
	position: absolute;
	width: 17px;
	height: 17px;
	right: 6px;
	top: 10px;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0
}

.closebtnTipList {
	position: fixed;
	width: 17px;
	height: 17px;
	right: 60%;
	top: 21.2%;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0;
	margin-right: -96px;
	z-index: 9
}

.eventbtnTipList {
	position: fixed;
	width: 17px;
	height: 17px;
	right: 50%;
	top: 21.2%;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0;
	margin-right: -96px;
	z-index: 9
}

.cancel .larger {
	right: 50px;
	background-image: none;
	color: #999;
	font-size: 40px;
	top: -4px;
	width: 30px;
	height: 30px
}

.cancel-box button {
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #248bea;
	display: inline-block;
	border-radius: 30px;
	cursor: pointer
}

.cancel-box div#diagram_echart div {
	text-align: left
}

.filter-play-box {
	width: 2000px;
	height: 1550px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -930px;
	border: 1px #e7ecf2 solid;
	top: 50%
}

.filter-okplay {
	background: #3355a3;
	padding: 19px 53px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 20px
}

.filter-tip {
	color: #333;
	padding: 15px 30px;
	font-size: 16px;
	position: relative;
	background: #e7ecf2
}

.filter-list {
	margin: 30px;
	height: 1320px;
	width: 1940px;
	border: 1px #e7ecf2 solid;
	position: fixed;
	overflow-y: auto
}

.filter-closebtn {
	position: absolute;
	width: 17px;
	height: 17px;
	right: 30px;
	top: 20px;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0
}

.filter-buttonView {
	position: fixed;
	bottom: 60px
}

.play-box {
	width: 440px;
	height: 200px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -241px;
	border: 1px #e7ecf2 solid;
	top: 50%
}
.play-box1{
	    width: 900px;
	    height: 600px;
	    z-index: 1000;
	    background: #fff;
	    /* position: absolute; */
	    left: 25%;
	    /* margin-left: -241px; */
	    /* margin: 0 auto; */
	    border: 1px #e7ecf2 solid;
	   /* top: 50%; */
}
.play-box2{
	/*    z-index: 1000;
	    background: #fff;
	 /*   position: absolute;
	    top: 0;
	           right: 0;
	           bottom: 0;
	           left: 0;
	           margin: auto; */

	    /* margin-left: -241px; */
	    /* margin: 0 auto; */
	    /* border: 1px #e7ecf2 solid; */
		
		z-index: 1000;
		background: #fff;
		position: absolute;
		left: 20%;
		margin-left: -241px;
		border: 1px #e7ecf2 solid;
		top: 50%;
	   /* top: 50%; */
}
#estate_tip{
	width:810px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);
}
#pdf_preview{
	height:600px;
}
.tip_preview{
	height:26px;
}
.tip_preview .closebtn {
	position: absolute;
	width: 17px;
	height: 17px;
	right: 6px;
	top: 6px;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0
}
.play-box-credit {
	width: 940px;
	height: 510px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -451px;
	border: 1px #e7ecf2 solid;
	top: 50%
}

.associat-list-tip {
	width: 900px;
	height: 60%;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -445px;
	border: 1px #e7ecf2 solid;
	top: 20%;
	bottom: 20%;
	overflow-y: auto
}

.play-box-list {
	width: 220px;
	height: 60%;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 40%;
	margin-left: -111px;
	border: 1px #e7ecf2 solid;
	top: 20%;
	bottom: 20%;
	overflow-y: auto;
	font-size: 14px
}

.IndustrySwitchTip {
	width: 75%;
	height: 74%;
	z-index: 1000;
	background: #fff;
	position: absolute;
	right: 10%;
	margin-left: -111px;
	border: 1px #e7ecf2 solid;
	top: 13%;
	bottom: 13%;
	overflow-y: auto;
	font-size: 14px
}

.IndustrycloseTip {
	position: fixed;
	width: 17px;
	height: 17px;
	right: 11%;
	top: 14.2%;
	display: inline-block;
	border-radius: 0;
	background: url(../images/tankuang_guanbi.png) no-repeat;
	border: 0;
	outline: 0;
	z-index: 9
}

.play-box-list::-webkit-scrollbar {
	width: 4px;
	height: 4px
}

.play-box-list::-webkit-scrollbar-thumb {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2)
}

.play-box-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.2);
	border-radius: 0;
	background: rgba(0,0,0,0.1)
}

.event-box-list {
	width: 420px;
	height: 60%;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -210px;
	border: 1px #e7ecf2 solid;
	top: 20%;
	bottom: 20%;
	overflow-y: auto;
	font-size: 14px
}

.play-box .selects select {
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	width: 350px;
	height: 30px;
	padding-left: 20px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../images/analysis/sanjioa.png) no-repeat scroll 317px transparent;
	padding-right: 30px
}

.play-box .setReName {
	width: 300px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dbe3;
	padding-left: 24px;
	font-size: 14px;
	vertical-align: middle
}

.okplay {
	background: #3355a3;
	padding: 6px 30px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer
}

.noplay {
	background: #3355a3;
	padding: 6px 30px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer
}

.moren {
	border: 1px solid #e1e6eb;
	background: 0;
	color: #818594
}

.tipNews {
	font-size: 14px;
	background-color: #7ab9ef;
	padding: 2px 10px;
	border-radius: 3px;
	color: #fff
}

@media screen and (max-width:1366px)and (min-width:1024px) {
}

.wrap-search #search {
	width: 100%;
	height: 98px;
	background: #dfe5ed;
	text-align: center
}

.wrap-search .searchCenter {
	position: relative;
	top: 29px;
	left: 0;
	width: 800px;
	margin: 0 auto
}

.wrap-search .sertip {
	color: red;
	text-align: left
}

.wrap-search .souSearch {
	width: 700px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dbe3;
	padding-left: 24px;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	float: left
}

.wrap-search .searchGo {
	width: 90px;
	height: 38px;
	background: #3355a3 url(../images/com_sousuo_icon.png) no-repeat 50% 50%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	float: right;
	cursor: pointer
}

.wrap-search .sousuocon {
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 90
}

.wrap-search .sousuoconjuz {
	width: 804px;
	margin: 0 auto
}

.wrap-search .sousuoconjuz>ul {
	width: 700px;
	background: #fff
}

.wrap-search .sousuocon div>ul li {
	font-size: 13px;
	line-height: 40px;
	padding-left: 24px;
	text-align: left;
	border-bottom: 1px #dedede solid
}

.wrap-search .dis_inline_block {
	display: inline-block
}

.wrap-search .findCompany {
	background: #fff;
	border: 1px solid #e1e6eb
}

.wrap-search .findCompany .bigTop {
	height: 105px;
	line-height: 105px
}

.wrap-search .findCompany .bigTop .title {
	padding-left: 30px;
	padding-right: 15px
}

.wrap-search .findCompany .bigTop .icons span {
	margin-right: 12px;
	padding: 6px 0
}

.wrap-search .findCompany .bigTop .classify {
	margin-right: 200px
}

.wrap-search .findCompany .bigTop .classify span {
	margin-right: 10px;
	padding: 6px 14px;
	border-radius: 4px;
	background: #3355a3;
	height: 34px;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	cursor: pointer
}

.wrap-search .findCompany .bigTop .classify .classifyhove {
	background: #fff;
	color: #3355a3;
	border: 1px #3355a3 solid;
	padding: 6px 13px
}

.wrap-search .findCompany .bigTop .classify span.moren {
	border: 1px solid #e1e6eb;
	background: 0;
	color: #818594
}

.wrap-search .findCompany .bigTop .icons span.iconOne {
	background: #00b8ee;
	border: 0;
	color: #fff
}

.wrap-search .findCompany .bigTop .icons span.iconTwo {
	background: #f9b552;
	border: 0;
	color: #fff
}

.wrap-search .findCompany .bigTop .icons span.iconThree {
	background: #f25560;
	border: 0;
	color: #fff
}

.wrap-search .findCompany .bigTop .icons .gray_warning_icon {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url(../images/celueyujing_hui.png) no-repeat
}

.wrap-search .findCompany .bigTop .icons i.iconOne {
	width: 18px;
	height: 18px;
	background: url(../images/celueyujing.png) no-repeat
}

.wrap-search .findCompany .bigTop .icons i.iconTwo {
	width: 18px;
	height: 18px;
	background: url(../images/rengongyujing.png) no-repeat
}

.wrap-search .findCompany .bigTop .icons i.iconThree {
	width: 18px;
	height: 18px;
	background: url(../images/weiyueyujing.png) no-repeat
}

.wrap-search .findCompany .bigTop .classify .classifyhove {
	background: #fff;
	color: #3355a3;
	border: 1px #3355a3 solid;
	padding: 6px 13px
}

.wrap-search .sousuocon div>ul li:hover {
	background: #ccc
}

.wrap-page {
	position: relative;
	left: 50%
}

.wrap-page .page-list {
	clear: both;
	overflow: hidden;
	left: -25%
}

.wrap-page .page-list .pagination {
	float: left
}

.wrap-page .page-list .pagination span {
	cursor: pointer
}

.wrap-page .page-list .pagination .separate span {
	cursor: default;
	border-top: 0;
	border-bottom: 0
}

.wrap-page .page-list .pagination .separate span:hover {
	background: 0
}

.wrap-page .page-list .page-total {
	float: left;
	margin: 25px 20px;
	margin-top: 20px
}

.wrap-page .page-list .page-total input,.page-list .page-total select {
	height: 30px;
	border: 1px solid #ddd
}

.wrap-page .page-list .page-total input {
	width: 30px;
	text-align: center
}

.wrap-page .page-list .page-total select {
	width: 50px
}

.no-data {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	-webkit-box-pack: center;
	display: -webkit-box;
	-webkit-box-align: center
}

.associat .cancel-box .no-data {
	width: 100%;
	height: calc(100% - 40px);
	vertical-align: middle;
	-webkit-box-pack: center;
	display: -webkit-box;
	-webkit-box-align: center;
	display: flex;
	align-items: Center
}

.no-data dl {
	margin: 10px auto 10px
}

.no-data dt {
	width: 110px;
	height: 79px;
	display: inline-block
}

.no-data dt.loading-img-pre {
	width: 60px;
	height: 60px;
	background: url(../images/loading.gif);
	display: inline-block;
	margin-bottom: 19px
}

.no-data dt .default-img-pre {
	width: 100px;
	height: 62px
}

.no-default dt {
	width: 100%;
	height: 100%;
	background: 0
}

.no-data dd {
	padding: 1em 0;
	text-align: center;
	color: #3355a3;
	font-size: 18px;
	padding-bottom: 0
}

.no-data .default-dl {
	width: 100%;
	height: 100%
}

.loading-b {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: rgba(219,21,21,0);
	top: 0;
	z-index: 10
}

.loading-b .back-view {
	left: calc((100% - 150px)/2.0);
	top: calc((100% - 150px)/2.0);
	width: 150px;
	height: 150px;
	position: absolute;
	background-color: rgba(225,225,225,0.9)
}

.loading-b ul li.loading-img-pre {
	width: 60px;
	height: 60px;
	background: url(../images/loading.gif);
	display: inline-block;
	margin-bottom: 19px;
	margin-top: 20px
}

.f8-pre {
	background-color: #f8f8f8;
	min-height: 280px;
	line-height: 280px
}

.wrap-search .yjgk_title {
	position: absolute;
	top: -6px;
	background: url(../images/analysis/biaoti_bg.png) no-repeat;
	width: 145px;
	height: 35px;
	text-align: center;
	color: #fff;
	line-height: 35px
}

.bg-c-e7ebf2 {
	background: #e7ebf2
}

.z_index_max {
	z-index: 99999999
}

.z_index_99 {
	z-index: 99
}

.display_ib {
	display: inline-block
}

.ub {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -ms-flexbox
}

.ub-f1 {
	-webkit-box-flex: 1;
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	-ms-flex: 1;
	-ms-font-size:12px;
	width: 0
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   		.ub-f2{font-size:12px;}
}
.ub-f2 {
	-webkit-box-flex: 2.0;
	-webkit-box-flex: 2.0;
	box-flex: 2.0;
	-ms-flex: 2;
	-ms-font-size:12px;
	width: 0
}

.ub-f3 {
	-webkit-box-flex: 3.0;
	-webkit-box-flex: 3.0;
	box-flex: 3.0;
	-ms-flex: 3;
	width: 0
}

.ub-f4 {
	-webkit-box-flex: 4.0;
	-webkit-box-flex: 4.0;
	box-flex: 4;
	-ms-flex: 4;
	width: 0
}
.ub-f5 {
	-webkit-box-flex: 5.0;
	-webkit-box-flex: 5.0;
	box-flex: 5.0;
	-ms-flex: 5;
	width: 0
}
.ub-f6 {
	-webkit-box-flex: 6.0;
	-webkit-box-flex: 6.0;
	box-flex: 6.0;
	-ms-flex: 6;
	width: 0
}
.ub-f7 {
	-webkit-box-flex: 7.0;
	-webkit-box-flex: 7.0;
	box-flex: 7.0;
	-ms-flex: 7;
	width: 0
}
.ub-f30 {
	-webkit-box-flex: 30.0;
	-webkit-box-flex: 30.0;
	box-flex: 30.0;
	-ms-flex: 30;
	width: 0
}

.bg-c-f8f8f8 {
	background-color: #f8f8f8
}

.bg-c-white {
	background-color: white
}

.dighor-ver-center {
	position: fixed;
	margin-top: -300px;
	width: 600px;
	height: 600px;
	margin-left: -300px;
	z-index: 99999
}

.table.table-html .evenColor:first-child {
	font-weight: bolder
}

.table-html .evenColor {
	background-color: #e3f3fe
}

.table-html tbody tr.odevity:nth-child(n) {
	background-color: #e3f3fe
}

.table-html tbody tr.odevity:nth-child(2n) {
	background-color: #fff
}

.table-html tbody tr.odevity td p {
	margin: 5px 0
}

.table-html td {
	text-align: left;
}
.table.table-html tr td{
	word-break: break-word;
}

.up-box {
	position: fixed;
	width: 1000px;
	height: 600px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	border: 1px #e7ecf2 solid;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -300px;
	overflow: hidden
}

.up-box #picker {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin: 0 12px 0 0;
	font-size: 14px;
	background: url(../images/analysis/bftfx-bgx.png);
}

.up-box .btn-default {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #3355a3;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	margin: 0 12px 0 0;
	font-size: 14px
}

.up-box .btn-default:active:focus {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #3355a3;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	margin: 0 12px 0 0;
	font-size: 14px
}
.importOne-box {
	position: fixed;
	width: 760px;
	height: 300px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	border: 1px #e7ecf2 solid;
	left: 50%;
	top: 50%;
	margin-left: -380px;
	margin-top: -150px;
	overflow: hidden
}

.repeat-box {
	width: 800px;
	height: 400px;
	z-index: 1000;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -200px;
	border: 1px #e7ecf2 solid
}

.up-box .to-up-text {
	display: inline-block;
	width: 100px
}

.up-box .conpany-name {
	width: 330px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dbe3;
	padding-left: 24px;
	font-size: 14px;
	vertical-align: middle
}

#dis_inline_block {
	display: inline-block
}

#dis_inline_block .check {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/xuanze_btn.png) no-repeat;
	background-size: 90%;
	cursor: pointer;
	margin-bottom: -5px
}

#dis_inline_block .check-cur {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/xuanze_btn_pressed.png) no-repeat;
	background-size: 90%;
	cursor: pointer;
	margin-bottom: -5px
}

#blockOrno {
	color: #fff;
	background: #3355a3;
	border-radius: 6px;
	padding: 4px 14px;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	margin: 10px 0
}

.sousu {
	width: 200px;
	height: 27px;
	line-height: 27px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dbe3;
	padding-left: 5px;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	margin: 10px
}

.sousucon {
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 90
}

.sousuconjuz {
	width: 200px;
	margin: 0 auto
}

.sousuconjuz>ul {
	width: 200px;
	background: #fff
}

.sousucon div>ul li {
	font-size: 13px;
	line-height: 40px;
	padding-left: 5px;
	text-align: left;
	border-bottom: 1px #dedede solid
}

.sousucon div>ul li:hover {
	background: #ccc
}

.loadingClass {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: rgba(0,0,0,0);
	top: 0
}

.loadingClass ul li.loading-img-pre {
	width: 60px;
	height: 60px;
	background: url(../images/loading.gif);
	display: inline-block;
	margin-bottom: 19px;
	margin-left: calc((100% - 60px)/2.0);
	margin-top: 20px
}

.loadingClass .back-view {
	left: calc((100% - 0px)/2.0);
	top: calc((100% - 0px)/2.0);
	width: 150px;
	height: 150px;
	position: fixed;
	z-index: 101;
	background-color: rgba(225,225,225,0.9)
}

.loadingClass .back-view-dateList {
	left: calc((80% - 150px)/2.0);
	top: calc((100% - 150px)/2.0);
	width: 150px;
	height: 150px;
	position: fixed;
	z-index: 99
}

.loadingClass .industry-view-date {
	left: calc((100% - 150px)/2.0);
	top: calc((100% - 150px)/2.0);
	width: 150px;
	height: 150px;
	position: absolute;
	position: fixed;
	z-index: 99;
	background-color: rgba(225,225,225,0.9)
}

.font-weight {
	font-weight: 600
}

.bigShuju li {
	padding-left: 4px;
	padding-bottom: 4px
}

.bigShuju li span:nth-child(1) {
	display: inline-block;
	padding: 10px 28px;
	background-color: #f8f8f8;
	padding-right: 0;
	width: 220px;
	margin-right: 30px;
	font-size: 13px
}

.bigShuju li span:nth-child(2) {
	font-size: 13px;
	color: #767b8b
}

.bigShuju ul {
	padding-bottom: 10px
}

#shandongFlash {
	width: 100px;
	height: 100px;
	background: #f8b551;
	position: relative;
	animation: mymove 1.5s infinite;
	-webkit-animation: mymove 1.5s infinite
}

@keyframes mymove {
	0% {
		background: #29323f;
		width: 100px
	}

	100% {
		background: #f8b551;
		width: 100px
	}
}

@-webkit-keyframes mymove {
	0% {
		background: #29323f;
		width: 100px
	}

	100% {
		background: #f8b551;
		width: 100px
	}
}
/*新增table-html改为ulli-html样式*/
.ulli-html .evenColor:first-child {
	font-weight: bolder
}
.ulli-html .evenColor {
	background-color: #e3f3fe
}
.ulli-html{
   border-top: solid #ddd 1px;
   border-left: 1px solid #ddd;
   display: inline-block;
}
.ulli-html  ul{
   	margin: 0px;
   	padding: 0px;
   }
.ulli-html ul li{
 	list-style: none;
    box-sizing: border-box;
	line-height: 1.42857143;
	padding: 8px;
	font-weight: normal;
	width: 200px;
    border-right: 1px solid #ddd;/*定义每格的右，下边界*/
    border-bottom: 1px solid #ddd;
 }

/*新增样式*/
@media screen and (max-width: 1508px) {
	.wrap-search .findCompany .addstyleTitle {
		height: 175px;
    }
    .financial .findCompany .addstyleTitle {
		height: 175px;
    }
    .addstyle {
        z-index: 1;
        float: left;
	    width: 100%;
	    padding-left: 60px;
	    line-height: 60px;
	    padding-bottom: 20px;
    }
}
@media screen and (max-width: 1525px) {
	.navOne li {
	    padding: 24px 8px;
	    height: 68px;
	    position: relative;
	}
	.navTwo {
	    margin-right: 10px;
	    margin-top: 24px;
	}
	.navOne {
	    padding-left: 26px;
	}
	.navTwo li {
    margin-left: 5px; 
    padding: 2px 5px;
    font-size: 12px;
}
}
@media screen and (max-width: 1440px) {
	.wrap-search .searchCenter {
	    position: relative;
	    top: 29px;
	    left: 0;
	    width: 600px;
	    margin: 0 auto;
	}
	.wrap-search .souSearch {
	    width: 500px;
	    height: 40px;
	    line-height: 40px;
	    background: #fff;
	    border-radius: 5px;
	    border: 1px solid #d6dbe3;
	    padding-left: 24px;
	    font-size: 14px;
	    vertical-align: middle;
	    display: inline-block;
	    float: left;
	}
	.wrap-search .sousuoconjuz {
	    width: 604px;
	    margin: 0 auto;
	}
	.wrap-search .sousuoconjuz>ul {
	    width: 500px;
	    background: #fff;
	}
}

.height00{
	height: auto;
}
.width00{
	width: 100%;
}
.about:hover{
	color: #93a0b0;
}

.breakicon i{
	background: #fe6058;
    color: #fff;
    font-size: 12px;
    padding: 1px 4px;
    font-style: normal;
    margin-left: 5px;
}
/* .webuploader-pick {
    border: 0;
    width: 36px;
    height: 36px;
    background: url(../images/wenjianjia2.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 42%;
} */
.classifyTwos {
    margin-right: 10px;
    padding: 6px 14px;
    border-radius: 4px;
    background: #707070;
    height: 34px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    cursor: not-allowed;
}
#error_clear{
	width:24px;
	height:24px;
	background:url(../images/error_clear3.png);
	position: absolute;
	right:11px;
	top:7px;
	cursor: pointer;
}
.turnangle{
	font-size:24px;
}
.rotate1{
	transition: all 0.2s;
}
.rotate2{
	transform: rotate(90deg);
	transition:all 0.2s;
}
.model_image{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width:22px;
	height:22px;
	background:url(../images/model_img.png);
	background-color:#fff !important;
}

.estate_img{
	display: inline-block;
	width:100%;
	height:100%;
	background:url(../images/estate_img.png)
}
#error_msg_cen,#error_msg_cen1{
	width:600px;
	display: inline-block;
	vertical-align: middle;
}